* {
  margin: 0;
  padding: 0
}

header {
  background-color: black;
  color: aliceblue;
  text-align: center;
  font-size: 25px;
  padding: 25px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

header a {
  text-decoration: none;
  color: aliceblue;
}

footer {
  font-size: 18px;
}

main {
  text-align: center;
  font-size: 18px;
  padding: 20px;
}